<!DOCTYPE html>
<html>
    <head>
        <!--
        * Author:         OverAPI.com
        -->
        <meta charset="utf-8" />
        <title>{% if page.title %}{{ page.title }}{% endif %}</title>
        <meta name="author" content="{{ site.author.name }}" />
        <meta name="description" content="{{ site.description }}" />
        <link rel="stylesheet" href="/static/css/default.css" type="text/css" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <script type="text/javascript" src="/static/js/jquery.1.7.min.js"></script>
    </head>
    <body>
        {{ content }}
        <script type="text/javascript" src="/static/js/jquery.masonry.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.quicksearch.js"></script>
    </body>
</html>
